openapi: 3.1.0
x-stoplight:
  id: hc4ko9vsgnuwn
info:
  title: OpenWeatherMap API
  version: '2.5'
  summary: Get the current weather
  description: 'Get the current weather, daily forecast for 16 days, and a three-hour-interval forecast for 5 days for your city. Helpful stats, graphics, and this day in history charts are available for your reference. Interactive maps show precipitation, clouds, pressure, wind around your location stations. Data is available in JSON, XML, or HTML format. **Note**: This sample Swagger file covers the `current` endpoint only from the OpenWeatherMap API. <br/><br/> **Note**: All parameters are optional, but you must select at least one parameter. Calling the API by city ID (using the `id` parameter) will provide the most precise location results.'
  contact:
    name: Support
    url: 'https://openweathermap.org/api'
    email: some_email@gmail.com
  termsOfService: 'https://openweathermap.org/terms'
  license:
    name: Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)
    url: 'https://creativecommons.org/licenses/by-sa/4.0/'
servers:
  - url: 'https://api.openweathermap.org/data/2.5'
paths:
  /weather:
    get:
      summary: weather
      tags:
        - Weather endpoints
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    coord:
                      lon: 77.6033
                      lat: 12.9762
                    weather:
                      - id: 804
                        main: Clouds
                        description: overcast clouds
                        icon: 04n
                    base: stations
                    main:
                      temp: 302.65
                      feels_like: 304.38
                      temp_min: 301.05
                      temp_max: 303.9
                      pressure: 1011
                      humidity: 56
                      sea_level: 1011
                      grnd_level: 913
                    visibility: 10000
                    wind:
                      speed: 3.11
                      deg: 208
                      gust: 5.56
                    clouds:
                      all: 99
                    dt: 1779977881
                    sys:
                      type: 2
                      id: 2017753
                      country: IN
                      sunrise: 1779927754
                      sunset: 1779973884
                    timezone: 19800
                    id: 1277333
                    name: Bengaluru
                    cod: 200
                properties:
                  coord:
                    type: object
                    properties:
                      lon:
                        type: number
                        example: 145.77
                        description: 'City geo location, longitude'
                      lat:
                        type: number
                        example: -16.92
                        description: 'City geo location, latitude'
                  weather:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 803
                          description: Weather condition id
                        main:
                          type: string
                          example: clouds
                          description: 'Group of weather parameters (Rain, Snow, Extreme etc.)'
                        description:
                          type: string
                          example: broken clouds
                          description: Weather condition within the group
                        icon:
                          type: string
                          example: 04n
                          description: Weather icon id
                  base:
                    type: string
                    example: cmc stations
                    description: Internal parameter
                  main:
                    type: object
                    properties:
                      temp:
                        type: number
                        example: 293.25
                        description: '‘Temperature. Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.’'
                      feels_like:
                        type: number
                        example: 41.16
                        description: What the weather feels like despite the actual numbers
                      temp_min:
                        type: number
                        example: 289.82
                        description: '‘Minimum temperature at the moment. This is deviation from current temp that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.’'
                      temp_max:
                        type: number
                        example: 295.37
                        description: '‘Maximum temperature at the moment. This is deviation from current temp that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.’'
                      pressure:
                        type: integer
                        example: 1019
                        description: '‘Atmospheric pressure (on the sea level, if there is no sea_level or grnd_level data), hPa’'
                      humidity:
                        type: integer
                        example: 83
                        description: '‘Humidity, %’'
                      sea_level:
                        type: integer
                      grnd_level:
                        type: integer
                  visibility:
                    type: integer
                    example: 16093
                    description: '‘Visibility, meter’'
                  wind:
                    type: object
                    properties:
                      speed:
                        type: number
                        example: 5.1
                        description: '‘Wind speed. Unit Default: meter/sec, Metric: meter/sec, Imperial: miles/hour.’'
                      deg:
                        type: integer
                        example: 150
                        description: ‘’
                      gust:
                        type: number
                  clouds:
                    type: object
                    properties:
                      all:
                        type: integer
                        example: 75
                        description: '‘Cloudiness, %’'
                  dt:
                    type: integer
                    example: 1435658272
                    description: ' ‘Time of data calculation, unix, UTC’'
                  sys:
                    type: object
                    properties:
                      type:
                        type: integer
                        example: 1
                        description: Internal parameter
                      id:
                        type: integer
                        description: Internal parameter
                        example: 8166
                      country:
                        type: string
                        example: AU
                        description: '‘Country code (GB, JP etc.)’'
                      sunrise:
                        type: integer
                        example: 1435610796
                        description: '‘Sunrise time, unix, UTC’'
                      sunset:
                        type: integer
                        example: 1435650870
                        description: '‘Sunset time, unix, UTC’'
                  timezone:
                    type: integer
                    example: -28800
                    description: the timezone for the station
                  id:
                    type: integer
                    example: 2172797
                    description: City ID
                  name:
                    type: string
                    example: Cairns
                    description: Name
                  cod:
                    type: integer
                    example: 200
                    description: Internal parameter
      operationId: get-weather
      x-stoplight:
        id: 9wgiz94qtiih5
      description: 'Access current weather data for any location on Earth including over 200,000 cities! Current weather is frequently updated based on global models and data from more than 40,000 weather stations.'
      parameters:
        - schema:
            type: string
          in: query
          name: zip
          description: '**Zip code**. Search by zip code. *Example: 95050,us*. Please note that if the country is not specified, the search uses USA as a default.'
        - schema:
            type: string
            enum:
              - standard
              - metric
              - imperial
          in: query
          name: units
          description: '**Units**. *Example: imperial*. Possible values: `standard`, `metric`, and `imperial`. When you do not use the `units` parameter, the format is `standard` by default.'
        - schema:
            type: string
          in: query
          name: q
          description: '**City name**. *Example: London*. You can call by city name, or by city name and country code. The API responds with a list of results that match a searching word. For the query value, type the city name and optionally the country code divided by a comma; use ISO 3166 country codes.'
        - schema:
            type: string
          in: query
          name: id
          description: '**City ID**. *Example: `2172797`*. You can call by city ID. The API responds with the exact result. The List of city IDs can be downloaded [here](http://bulk.openweathermap.org/sample/). You can include multiple cities in this parameter — just separate them by commas. The limit of locations is 20. *Note: A single ID counts as a one API call. So, if you have 3 city IDs, it’s treated as 3 API calls.*'
        - $ref: '#/components/parameters/lon'
        - schema:
            type: string
          in: query
          name: lat
          description: '**Latitude**. *Example: 35*. Latitude coordinate of the location of your interest. Must use with `lat`.'
        - schema:
            type: string
            default: en
            enum:
              - ar
              - bg
              - ca
              - cz
              - de
              - el
              - en
              - fa
              - fi
              - fr
              - gl
              - hr
              - hu
              - it
              - ja
              - kr
              - la
              - lt
              - mk
              - nl
              - pl
              - pt
              - ro
              - ru
              - se
              - sk
              - sl
              - es
              - tr
              - ua
              - vi
              - zh_cn
              - zh_tw
          in: query
          name: lang
          description: '**Language**. *Example: en*. You can use `lang` parameter to get the output in your language. We support the following languages that you can use with the corresponded lang values: Arabic - `ar`, Bulgarian - `bg`, Catalan - `ca`, Czech - `cz`, German - `de`, Greek - `el`, English - `en`, Persian (Farsi) - `fa`, Finnish - `fi`, French - `fr`, Galician - `gl`, Croatian - `hr`, Hungarian - `hu`, Italian - `it`, Japanese - `ja`, Korean - `kr`, Latvian - `la`, Lithuanian - `lt`, Macedonian - `mk`, Dutch - `nl`, Polish - `pl`, Portuguese - `pt`, Romanian - `ro`, Russian - `ru`, Swedish - `se`, Slovak - `sk`, Slovenian - `sl`, Spanish - `es`, Turkish - `tr`, Ukrainian - `ua`, Vietnamese - `vi`, Chinese Simplified - `zh_cn`, Chinese Traditional - `zh_tw`.'
        - schema:
            type: string
            enum:
              - json
              - xml
              - html
            default: json
          in: query
          name: mode
          description: '**Mode**. Example: html. Determines the format of the response. Possible values are `json`, `xml`, and `html`. If the mode parameter is empty, the format is `json` by default.'
components:
  schemas:
    User:
      title: User
      type: object
      description: ''
      examples:
        - id: 142
          firstName: Alice
          lastName: Smith
          email: alice.smith@gmail.com
          dateOfBirth: '1997-10-31'
          emailVerified: true
          signUpDate: '2019-08-24'
      properties:
        id:
          type: integer
          description: Unique identifier for the given user.
          x-stoplight:
            id: 0iv7sdncjjzuo
        firstName:
          type: string
          x-stoplight:
            id: 4p9k3ozek7nc3
        lastName:
          type: string
          x-stoplight:
            id: fvr50qh2l0waz
        email:
          type: string
          format: email
          x-stoplight:
            id: h9l703uy476tf
        dateOfBirth:
          type: string
          format: date
          example: '1997-10-31'
          x-stoplight:
            id: 3es9ucbk1zbqv
        emailVerified:
          type: boolean
          description: Set to true if the user's email has been verified.
          x-stoplight:
            id: ueeq5nh01akuj
        createDate:
          type: string
          format: date
          description: The date that the user was created.
          x-stoplight:
            id: gvy9cbblblcg6
      required:
        - id
        - firstName
        - lastName
        - email
        - emailVerified
      x-stoplight:
        id: g4ncp400kq5uc
  securitySchemes:
    app_id:
      name: appid
      type: apiKey
      in: query
  parameters:
    lon:
      name: lon
      in: query
      required: false
      schema:
        type: string
      description: '**Longitude**. *Example: 139*. Longitude coordinate of the location of your interest. Must use with `lat`.'
security:
  - app_id: []
